@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$PriColorPeach: #e78168;
$PriColorBlack: #1d1c1e;
$PriColorWhite: #ffffff;
$SecColorLightPeach: #ffad9b;
$SecColorDarkGrey: #333136;
$SecColorLightGrey: #f1f3f5;
$VeryLightPeach: #fdf3f0;

* {
  text-decoration: none;
  padding: 0%;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  max-width: 100%;
}

button{
  cursor: pointer;
}

.btn-style1{


  &:hover{
    background-color: $SecColorLightPeach !important;
    color: $PriColorWhite !important;
  }
}

.btn-style2{


  &:hover{
    opacity: .7 !important;
  }
}


body {
  font-family: "Jost", sans-serif;
}

// FOR TEST
.hidden {
  display: none !important;
}

#root{
  max-width: 1200px;
  margin: auto;
}

.link{
  color: inherit;
}






@media screen and (min-width:500px) {
  #root{
    width: 80%;
    margin: auto;
  }

}